.nomads-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.nomads-tiles .tile {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0;
  border: 1px solid #999;
  box-sizing: border-box;
  overflow: hidden;
}

.nomads-tiles .image-tile {
  background-size: cover;
  background-position: center;
}
