# local junk
*.zip
*.log
server.log
*:Zone.Identifier

/sites/*/files/
/sites/*/private/
/sites/*/settings.php
# Local DB dumps and backups
*.sql
*.sql.gz
*.dump
*.dump.gz

# Project specific
nomads_site_backup_*.sql
/sites/*/settings.local.php
/sites/*/services.yml
/nomads_site.sql
/modules/contrib/
/vendor/
/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/settings.php
/web/sites/*/settings.local.php
/web/sites/*/services.yml
.DS_Store

# Local Composer cache
.composer/
composer.phar
themes/custom/nomads/node_modules/

# Project specific
nomads_site_backup_*.sql
