
.nomads-paragraph-modal-link-wrapper {
  display: none !important;
}
/* ==== Tweak ====== */
/* to make boxes getting max height */
.paragraph-relevance-vfield--relevant .field--name-field-description {
  height: 700px;
}

/* ========== Paragraphs ========== */

.paragraph--bundle-view > .field {
  margin-left: 5vw;
  margin-right: 5vw;
}
.paragraph--bundle-view > .field--name-field-view {
  margin-left: 1vw;
  margin-right: 1vw;
  margin: 0;
}
.paragraph--bundle-text {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
.paragraph--bundle-text {
  padding-left: 2vw;
  padding-right: 2vw;
}
}







div #paragraphs-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 40px;
  row-gap: 60px;  
  margin-bottom: 50px;
  grid-auto-flow: dense;
  align-items: stretch;
}
#paragraphs-container > * {
  min-width: 0;
}
@media (max-width: 1400px) {
div #paragraphs-container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
}
@media (max-width: 980px) {
div #paragraphs-container {
  grid-template-columns: minmax(0, 1fr);
  grid-auto-flow: row;
}
}
.paragraph-relevance-vfield {
  display: contents;
}
#paragraphs-container .paragraph-relevance-vfield--core .paragraph-relevance-vfield__section,
#paragraphs-container  .field--name-field-location-date {
  grid-column: 1 / -1;
}
#paragraphs-container .paragraph-relevance-vfield--relevant .paragraph-relevance-vfield__section {
  grid-column: span 1;
  grid-row: span 3;
  height: 100%;
}

@media (max-width: 980px) {
#paragraphs-container .paragraph-relevance-vfield--relevant .paragraph-relevance-vfield__section {
  grid-column: 1 / -1;
  grid-row: auto;
}
}



/* ==============================
  Viewmode 3 - General Layout
  =============================== */

.paragraph--viewmode-vm-3 {
  display: grid;
  gap: 10px;
  row-gap: 0;
}

.paragraph-left-column,
.paragraph-center-column,
.paragraph-right-column {
  height: 510px;
  overflow: hidden;
}

.paragraph--viewmode-vm-3.col2 {
  grid-template-columns: minmax(0, 1fr) 770px;
  grid-template-areas:
    "title title"
    "left right";
}

.paragraph--viewmode-vm-3.col3 {
    grid-template-columns: minmax(0, 1fr) 510px 510px;
    grid-template-areas:
        "title title title"
        "left center right";
}
@media (max-width: 1300px) {
  .paragraph--viewmode-vm-3.col2 {
  grid-template-columns: minmax(0, 1fr) 510px;
}
.paragraph--viewmode-vm-3.col2 .paragraph-left-column,
.paragraph--viewmode-vm-3.col2 .paragraph-center-column,
.paragraph--viewmode-vm-3.col2 .paragraph-right-column {
  height: 770px;
}

.paragraph--viewmode-vm-3.col3 {
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "right"
        "center"
        "left";
}
}
@media (max-width: 980px) {
  .paragraph--viewmode-vm-3.col2 {
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "right"
    "left";
}
#paragraphs-container .paragraph--viewmode-vm-3 .paragraph-left-column,
#paragraphs-container .paragraph--viewmode-vm-3 .paragraph-center-column,
#paragraphs-container .paragraph--viewmode-vm-3 .paragraph-right-column {
  height: auto;
  margin: 5px 0;
}
.paragraph-left-column div.icon-placeholder {
  display: none;
}
#paragraphs-container .paragraph--viewmode-vm-3  .geolocation-map-container {
  height: 400px !important;
}
.paragraph--viewmode-vm-3.col3 {
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "right"
        "center"
        "left";
}
}

.paragraph--viewmode-vm-3 .nomads-paragraph-header {
  grid-area: title;
  position: relative;
}
.paragraph--viewmode-vm-3 > .paragraph-right-column {
  grid-area: right;
}
.paragraph--viewmode-vm-3 > .paragraph-left-column {
  grid-area: left;
}
.paragraph--viewmode-vm-3 > .paragraph-center-column {
  grid-area: center;
}






