
.nomads-paragraph-modal-link-wrapper {
  display: none !important;
}


/* ========== Paragraphs ========== */

.paragraph--bundle-view > .field {
  margin-left: 5vw;
  margin-right: 5vw;
}
.paragraph--bundle-view > .field--name-field-view {
  margin-left: 1vw;
  margin-right: 1vw;
  margin: 0;
}
.paragraph--bundle-text {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
.paragraph--bundle-text {
  padding-left: 2vw;
  padding-right: 2vw;
}
}













