

/* paragraph stack */

.user-picture.align-right {
  max-width: 50%;
  height: auto;
}

.organizer-features .field--name-field-media-image-1 img {
  width: 200px;
  height: 200px;
}


.node--type-page.node--view-mode-full .field--name-body p,
.node--type-page.node--view-mode-full .field--type-text-with-summary p,
.node--type-page.node--view-mode-full .field--type-text-long p {
  margin: 0 0 1em;
}
.node--type-page.node--view-mode-full .field--name-body p:last-child,
.node--type-page.node--view-mode-full .field--type-text-with-summary p:last-child,
.node--type-page.node--view-mode-full .field--type-text-long p:last-child {
  margin-bottom: 0;
}

.node--type-page.node--view-mode-full {
  max-width: none;
}
.node--type-page.node--view-mode-full .node__content {
  display: block;
}
.node--type-page.node--view-mode-full.width-960 .node__content > .field {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.node--type-page.node--view-mode-full .field--name-field-images .field__item {
  text-align: center;
}
.node--type-page.node--view-mode-full .field--name-field-images img {
  border-radius: 12px;
  width: 100% !important;
  max-width: 500px;
  height: auto !important;
  margin: 10px auto;
}
@media (min-width: 980px) {
.node--type-page.node--view-mode-full.width-960 .field--name-field-images {
  width: 40vw;
  float: right;
  margin: 10px !important;
}
.node--type-page.node--view-mode-full .field--name-field-images img {
  width: 40vw !important;
  height: auto !important;
}
}

