




/* RESET ANY BREAKOUT DAMAGE */
.hero-ui {
  position: relative;
  width: 100%;
  margin: 0;
}

/* FULLSCREEN FIXED BACKGROUND */
.hero-ui__bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* IMAGE */
.hero-ui__bg-image,
.hero-ui__bg-image img {
  width: 100%;
  height: 100vh;
  display: block;
}

.hero-ui__bg-image img {
  object-fit: cover;
  object-position: center;
  border-radius: 0 !important;
}

/* DARK OVERLAY */
/* .hero-ui__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
} */

/* CONTENT CENTERED IN VIEWPORT */
.hero-ui__overlay {
  /* min-height: 100vh; */
  min-height: calc(100vh - 100px);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* REMOVE ANY WIDTH BREAKOUT THAT CAUSED SCROLLBAR */
/* .nomads-breakout,
.nomads-content .hero-ui {
  width: auto !important;
  margin: 0 !important;
} */

.hero-ui__overlay h1.hero-ui__title {
font-size: 48px;
color: #fff;
text-shadow: 
  0 2px 8px rgba(0,0,0,0.9),
  0 6px 20px rgba(0,0,0,0.4);
}

.hero-ui__overlay .field--name-field-subtitle h2 {
font-size: 22px;
margin-bottom: 30px;
color: #fff;
text-shadow: 
  0 2px 8px rgba(0,0,0,0.9),
  0 6px 20px rgba(0,0,0,0.4);
}
.hero-ui__overlay  .teaser-line {
font-size: 12pt;
}

/* ========= Node 99 - Login ======== */

.hero-ui__overlay form.user-login-form,
.hero-ui__overlay form.user-register-form,
.hero-ui__overlay form.user-pass,
.hero-ui__overlay .field--name-body {
  background: rgba(255,255,255,0.75);
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 12px 2vw;
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
}
.hero-ui__overlay form.user-register-form,
.hero-ui__overlay form.user-pass {
    width: 500px;
    max-width: 95vw;
}
.hero-ui__overlay form.user-register-form .form-item-pass { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.hero-ui__overlay form.user-register-form .form-item-pass .password-suggestions {
  grid-column: 1 / -1;
  font-size: 10pt;
}

.hero-ui__overlay form.user-register-form  .description {
  font-size: 9pt;
  color: #000;
}
.hero-ui__overlay form.user-register-form  .password-strength {
  font-size: 10pt;
  color: #000;
}


form.user-login-form input,
form.user-register-form input {
  padding: 7px 14px !important;
  border-radius: 8px !important;

}
.hero-ui__inner {
  border-radius: 16px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
  padding: 20px;
  width: 500px;
  text-align: center;
}
.hero-ui__body,
.hero-ui__body > div {
    
  text-align: center;
}
.hero-ui__body:has(form) > div {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Abstand zwischen den beiden divs */

}

.hero-ui__inner input {
  border-radius: 12px;
  border: none;
  padding: 14px;
}
.hero-ui__overlay h1.hero-ui__title {
  font-size: 26pt;
}

.hero-ui__overlay .field--name-body {
  width: 550px;
  max-width: 98vw;
}
.create-listing .hero-ui__overlay .field--name-body {
  width: 500px;
  max-width: 98vw;
}


.hero-ui__overlay:has(.field--name-body) .hero-ui__inner {
  width: 600px;
}
article.create-listing .hero-ui__inner {
  width: 550px !important;
}


}