

/* ========== Moderation UI ========== */
.view-dashboard-paragraphs .view-content {
  gap: 0 !important;
}
.paragraph-relevance-marker {
  white-space: nowrap;
}
.paragraph-relevance-marker .paragraph-rel-pill {
  padding: 0;
  width: 115px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paragraph-relevance-marker .paragraph-rel-pill2 {
  margin: 0;
  width: 75px;
  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paragraph-relevance-marker a {
  text-decoration: none;
}
.paragraph-relevance-marker .paragraph-rel-pill2 span {
  padding: 0 0px;
}
.paragraph-relevance-marker .paragraph-rel-pill span {
  padding-right: 8px;
}
.view-listing-admin-ui .nomads-pill,
.view-listing-admin-ui .nomads-pill span {
  font-size: 8pt;
  line-height: 0.8;
}

.paragraph-relevance-marker .rel-0 {
  background-color: #f4f4f4;
  color: #666;
}
.paragraph-relevance-marker .rel-1 {
  background-color: #999;
}
.paragraph-relevance-marker .rel-2 {
  background-color:#f5a623;
}
.paragraph-relevance-marker .rel-3 {
  background-color:saddlebrown;
}

.view-listing-admin-ui .nomads-taxonomy-icons__label {
  display: none;
}
.view-listing-admin-ui .nomads-taxonomy-icons__icon {
  display: inline-block;
}
.view-listing-admin-ui .nomads-taxonomy-icons__icon img {
  width: 22px;
  height: 22px;
}






