.relevance-paragraph .layout__region--content > .field--name-field-title {
  width: 100%;
}

.paragraph--viewmode-vm-3 {
    margin-top: 30px;
    padding: 10px;
}


.paragraph--viewmode-vm-3.relevance-paragraph.col2 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 770px;
  grid-template-areas:
    "title title"
    "left right";
  gap: 16px;
  row-gap: 0;
}
.paragraph--viewmode-vm-3.relevance-paragraph.col3 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 510px 510px;
    grid-template-areas:
        "title title title"
        "left center right";
    gap: 10px;
    row-gap: 0;
}


.paragraph--viewmode-vm-3.relevance-paragraph.col2 > .nomads-paragraph-header {
  grid-area: title;
}

.paragraph--viewmode-vm-3.relevance-paragraph.col2 > .paragraph-right-column {
  grid-area: right;
}

.paragraph--viewmode-vm-3.relevance-paragraph.col2 > .paragraph-left-column {
  grid-area: left;
}

.paragraph--viewmode-vm-3.relevance-paragraph.col3 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "title title title"
    "left center right";
  gap: 16px;
  row-gap: 0;
}
.paragraph--viewmode-vm-3 .nomads-paragraph-header {
  height: 0;
  position: relative;
}


.paragraph--viewmode-vm-3.relevance-paragraph.col3 > .nomads-paragraph-header {
  grid-area: title;
}

.paragraph--viewmode-vm-3.relevance-paragraph.col3 > .paragraph-left-column {
  grid-area: left;
}

.paragraph--viewmode-vm-3.relevance-paragraph.col3 > .paragraph-center-column {
  grid-area: center;
}

.paragraph--viewmode-vm-3.relevance-paragraph.col3 > .paragraph-right-column {
  grid-area: right;
}
